# Dicas gerais sobre o pandas

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

In [6]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

date              datetime64[ns]
temperatura              float64
classification            object
dtype: object

## Dataframe

In [7]:
df.head(6)

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

## Método groupby  
</br>
Faz agrupamentos dentro do dataframe dado algum critério.  
    
</br>
</br>

### Agrupamento por valores únicos de uma ou mais colunas.

In [8]:
df.groupby(by='classification')

#### Agrupado pela coluna classification e as outras colunas serão a média deste agrupamento

In [10]:
df.groupby(by='classification').mean(numeric_only=True)

                temperatura
classification
confortavel       24.000000
frio              20.000000
muito quente      31.200000
quente            28.533333

#### Soma

In [12]:
df.groupby(by='classification').sum(numeric_only=True)

                temperatura
classification
confortavel            24.0
frio                   20.0
muito quente           31.2
quente                 85.6

## Drop: Remoção de uma coluna

Se atentar que essa função não deleta a coluna **temperatura**, ela apenas a omite.  
</br>
se printarmos o df novamente veremos que a coluna **temperatura** ainda existe.

In [13]:
df.drop('temperatura', axis=1)

        date classification
0 2020-01-01         quente
1 2020-02-01   muito quente
2 2020-03-01         quente
3 2020-04-01         quente
4 2020-05-01    confortavel
5 2020-06-01           frio

In [14]:
df

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

## Método inplace

A cópia de um dataframe evita compartilhamento de memória.  
</br>
Sem copy(), operações inplace em **df2** também alterariam **df**.

In [15]:
df2 = df.copy()

In [16]:
df2.drop('temperatura', axis=1)

        date classification
0 2020-01-01         quente
1 2020-02-01   muito quente
2 2020-03-01         quente
3 2020-04-01         quente
4 2020-05-01    confortavel
5 2020-06-01           frio

In [17]:
df2.head()

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel

A operação **inplace** vai sobrescrever o objeto **df2** que estamos passando com a função **drop()**.  
</br> 
No exemplo abaixo, vamos remover a coluna **temperatura** e o implace como **true** reescreve o **df2**  
sem a coluna.

In [18]:
df2.drop("temperatura", axis=1, inplace=True)

In [19]:
df2.head()

        date classification
0 2020-01-01         quente
1 2020-02-01   muito quente
2 2020-03-01         quente
3 2020-04-01         quente
4 2020-05-01    confortavel