#### Instalação do pandas

In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 1.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\carme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\carme\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.4)
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     -------------------------------------- 498.1/498.1 kB 1.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\carme\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.1 pytz-2022.6
Note: you may need to restart the kernel to use updated packages.

#### Importando o pandas

In [12]:
import pandas as pd

## Leitura de Dados

In [13]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/temperature.csv")
df

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

## Leitura de Planilhas Excel

### Instalando openpyxl para trabalhar com planilhas

In [16]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 kB 1.7 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

Com 2 abas (worksheets)

### Leitura do Arquivo todo

In [17]:
excel_file = pd.ExcelFile("https://pycourse.s3.amazonaws.com/temperature.xlsx")

In [18]:
type(excel_file)

pandas.io.excel._base.ExcelFile

### Leitura da Primeira aba (Sheet1)

#### Dados numéricos com separador decimal =  ' . '

In [19]:
df2 = pd.read_excel(excel_file, sheet_name='Sheet1')
df2

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

### Leitura da Segunda aba (Sheet2)

#### Dados numéricos com separador decimal =  ' , '

In [20]:
df3 = pd.read_excel(excel_file, sheet_name='Sheet2', decimal=',')
df3

        date  temperatura classification
0 2020-01-01         29.1         quente
1 2020-02-01         31.2   muito quente
2 2020-03-01         28.5         quente
3 2020-04-01         28.0         quente
4 2020-05-01         24.0    confortavel
5 2020-06-01         20.0           frio

## Visualizando as primeiras n linhas

In [21]:
n = 3
df.head(n)

         date  temperatura classification
0  2020-01-01         29.1         quente
1  2020-02-01         31.2   muito quente
2  2020-03-01         28.5         quente

## Visualizando as últimas n linhas

In [22]:
n = 3
df.tail(n)

         date  temperatura classification
3  2020-04-01         28.0         quente
4  2020-05-01         24.0    confortavel
5  2020-06-01         20.0           frio

## Visulizar o tipo do dado que o pandas inferiu

In [23]:
df.dtypes

date               object
temperatura       float64
classification     object
dtype: object

## Estatísticas Básicas

### df.describe()  
##### Nos mostra algumas estatísticas básicas dos atributos numéricos do dataframe  
</br>
No caso, só inderirá sobre a temperatura que está como float  
</br>

**count** - Contagem - Quantidade de valores de entrada </br>
**mean** - Média </br>
**std** - Desvio padrão </br>
**min** - Valor mínimo </br>
**25%** - Percentil 25% </br>
**50%** - Percentil 50% </br>
**75%** - Percentil 75% </br>
**max** - Valor máximo </br></br></br>

In [26]:
df.describe()

       temperatura
count     6.000000
mean     26.800000
std       4.075782
min      20.000000
25%      25.000000
50%      28.250000
75%      28.950000
max      31.200000

### df.info()  

</br>
Mostra especificado por cada coluna </br></br>

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6 non-null      object
 1   temperatura     6 non-null      float64
 2   classification  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

### df.columns()  

</br>
Mostra os nomes das colunas </br></br>

In [28]:
df.columns

Index(['date', 'temperatura', 'classification'], dtype='object')

#### Renomear as colunas

In [29]:
df.columns = ['col1', 'col2', 'col3']

In [30]:
df

         col1  col2          col3
0  2020-01-01  29.1        quente
1  2020-02-01  31.2  muito quente
2  2020-03-01  28.5        quente
3  2020-04-01  28.0        quente
4  2020-05-01  24.0   confortavel
5  2020-06-01  20.0          frio